<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ReserveringenConnectionStringSQL"
         connectionString="Data Scource=194.171.20.12;Initial Catalog=RBS_db12; user ID=RBS_grp12;Password=vV5LwCh5XV">
    </add>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>